@import url(//db.onlinewebfonts.com/c/e82ff865254c4f5e8f11f460957f1a14?family=Orelo+SemiWide+Hair);
@font-face {font-family: "Orelo SemiWide Hair"; src: url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.eot"); src: url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.woff") format("woff"), url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e82ff865254c4f5e8f11f460957f1a14.svg#Orelo SemiWide Hair") format("svg"); }
@import url(//db.onlinewebfonts.com/c/fb3ddfb68f7942d3a38bb6b63f96ac89?family=Basis+Grotesque);
@font-face {font-family: "Basis Grotesque"; src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot"); src: url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.woff") format("woff"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fb3ddfb68f7942d3a38bb6b63f96ac89.svg#Basis Grotesque") format("svg"); }

html, body{
    font-family: "Basis Grotesque";
    font-size:18px;
    /*height:100%;*/
    margin: 0;
    background-color:black;
}

sup{
    color: #A2845E;
    text-transform: uppercase;
    letter-spacing: 1px;
}
canvas {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

p{
    /* padding-bottom: 60px; */
    line-height: 175%;
}

/*header*/
.header-title-nav-wrapper{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 60%;
    align-items: center;
    padding:0 5vw;
    padding-bottom: 1vw;
    margin-top:1vw;
    background: rgba(0, 0, 0, 1);
    border-bottom: 2px solid #A2845E;
}

.header-title-logo{
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Orelo SemiWide Hair";
    color:white;
    letter-spacing: 2px;
}
.header-nav{
    text-align: right;
    margin-left:auto;
    padding-left: 2vw;
    flex-grow: 1;
    flex-shrink: 1;
    letter-spacing: 2px;
}

.header-nav-list{
    display: inline-flex;
    flex-wrap:wrap;
}

a :active{
    color:white;
}

a :visited{
    color:white;
}

a:any-link{
    color:white;
    text-decoration: none;
}

.header-nav-list>div{
    white-space:nowrap;
}

.header-nav-item{
    margin-left: 3vw;
    color:white;
    display: inline-block;
    position:relative;
}
.header-nav-item--active{
    color: #fdf5e3;
    margin-bottom: -2px;

}

.button {
    border: 2px solid white;
    padding: 5px 20px; 
    background:none;
    width: 300px;
    border-radius: 25px;
  }

.button:hover { background-color: #A2845E;}


.About{
    top:15%;
    margin: auto;
    width: 85%;
    padding: 10px;
    text-align: center;
    color: white;
}

.About-Container{
    display: flex;
    width:85%;
    color:white;
    margin:auto;
    padding-top:1vw;
    padding-bottom:1vw;
}

.column-1 {
    flex-shrink: 0; /* shrinks to 0 to apply 50% width*/
    flex-basis: 50%;
    font-size:46px;
    font-family: "Orelo SemiWide Hair";
    line-height: 125%;
    color:white;
  }

.about-img{
width: 100px;
  }

.column-2{
    line-height: 150%;
}

.column-2.box li{
    /* list-style:circle; */
}

ul.li-style{
    list-style-position: outside;
}

.box {
    padding: 10px;
    margin: 1rem;
    /* background-color: blue; */
}

.how {
    font-size:18px;
    font-family: "Basis Grotesque";
    line-height: 150%;

}

.About-Container li{
    list-style:none;
}
.Index{
    margin: auto;
    top:15%;
    padding: 10px;
    text-align: center;
    font-size: 120px;
    color: white;
}

.profile{
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.profile:hover {
    transform: scale(1.5 );
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.125);
    -webkit-backface-visibility: hidden;
}

/* .Instruction{
    list-style: none;
    color:white;
    text-align: left;
} */

/*  GRID */
.grid-container {
    display: grid;
    width: 85%;
    margin: auto;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    /* padding: 10px; */
    padding-top:2.5vw;
    /* padding-bottom: 2.5vw; */
  }

.grid-container.how{
    padding-top:4.5vw;
    padding-bottom: 6vw;
}
.grid-item {
    padding: 0px;
    text-align: center;
    margin-bottom:5px;
  }

.grid-item .profile{
    width:100%;
}

.grid-item.box-move{
    width:100%;
}

.grid-item.box-notmove{
    width:100%;
}

.box-notmove {
    position:relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    /* width: 100px;*/
    height: 100px;
    background-color: #e4d5a8;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    font-size: 16px;
    letter-spacing: 1px;
}

.box-notmove-gold{
    position:relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    /* width: 100px;*/
    height: 100px;
    background-color: #A2845E;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    font-size: 16px;
    letter-spacing: 1px;
}

.box-move {
    position:relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    /* width: 100px; */
    height: 100px;
    background-color: #f6f3ea;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin: auto;
    animation-name: slide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    font-size: 16px;
    letter-spacing: 1px;
}

@keyframes slide {
    0% {left: 0;top:0; opacity: 1;}
    50% {left: 100%;top:0px; opacity: 0.01;}
    100% {left: 0;top:0px;opacity: 1;}
    /*100% {left: 0;top:0;} */
  } 

.subtitle{
    /* letter-spacing: 1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: pointer; */

    font-size:12px;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* 

.subtitle:hover{
    letter-spacing: 3px;
} */

.subtitle.how{
    font-size:12px;
    color:#A2845E;
    font-weight:bold ;
}

.subtitle.how:hover{
    letter-spacing: 1px;
}

/*PopUp*/

.info-subtitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom:10px;
    border-bottom: 2px solid #A2845E;
    color:#A2845E;
}
.info {
    position: absolute;
    /*top: 40%;*/
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-top: 15px;
    padding: 1em;
    width: 240px;
    color:black;
    background: rgba(250, 250, 250, 1);
    border-radius: 0px;
    font-size: 18px;
    line-height: 1;
    transition: opacity .25s;
    display:none;
    /*before {
        content: '1';
        position: absolute;
        top: -30px;
        left: -30px;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        background: rgba(240, 240, 240, 0.8);
    }*/
}

.info1 {
    top :10%;
    left: 15%;
}

.info2 {
    top :10%;
    left: 70%;
}

.info3 {
    top :30%;
    left: 15%;
}

.info4 {
    top :30%;
    left: 70%;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    transition: 0.6s ease;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}

/* Position the "next button" to the right and the prev button to the left*/

.next {
    right: 0 !important;
}

.prev {
    left: 0;
}

/*Form*/
*   {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #a0a0a0;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width:25%;
    background-color: #a0a0a0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A2845E;
}

.form-container {
    width: 85%;
    border-radius: 0px;
    /*background-color: #f2f2f2;*/
    padding: 20px;
    margin: auto;
    margin-bottom: 5vw;

}
label{
    color:#A2845E;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.submit-button{
width: 100%;
text-align: center;
}

/*FOOTER*/

.footer-container{
    position: static;
    width:100%;
    border-top:2px solid #A2845E;
    display:flex;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    padding-right:4vw;
    padding-left:4vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-top: 6.5vw;
    flex-shrink: 0;
}

.flex-row{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}
.flex-row footer-details{
    margin-bottom: 2vw;
    display: flex;
    width:100%;
    justify-content:flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
}

.item-bordered{
    flex:1;
    padding-left:2vw;
}

.item-bordered.footer{
    padding-top: 2vw;
}

.item-bordered.item-left { /*i can use item-left*/
    border-top-color:#A2845E;
    /* border-right: 2px solid white; */
}

.item-bordered.item-right {
    border-top-color:#A2845E;
}

.footer-small-text{
    margin-top:1vw;
    margin-bottom:0.25vw;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    color:white;
}
.footer-paragraph{
    margin-top:0.5vw;
    margin-bottom:0.5vw;
    color:white;
    line-height:150%;
}

/*MOBILE*/
@media only screen and (max-width: 900px) {
   
    html, body{
        font-family: "Basis Grotesque";
        font-size:16px;
        height:100%;
        margin: 0;
        background-color:black;
    }

    .About-Container {
        flex-direction: column; /*row*/
        
    }
  
    .box {
        margin: 0 0 1rem;
    }

    .header-title-logo{
        text-transform: uppercase;
        font-size: 18px;
        font-family: "Orelo SemiWide Hair";
        color:white;
        letter-spacing: 2px;
    }
    .header-nav{
        text-align: right;
        margin-left:auto;
        padding-left: 0.5vw;
        flex-grow: 1;
        flex-shrink: 1;
        letter-spacing: 1px;
        font-size:16px;
    }

    .header-nav-list{
        display: inline-flex;
        flex-wrap:nowrap;
    }
    
    

    .info {
        top: 100vh;
        margin-top:-300px;
        left:0;
        width: 100%;
        height: 300px;
        margin-left:0;
    }

    .info1 .info2 .info3 .info4{
    top:0;
    left:0;
    }
}